$globleBgColor: #1C1C1C;
$primaryBgColor: #262626;
$color: #fff;

$fontSizeD: 16px;
$fontSizeM: 0.37rem;

$contentPadding: 100vw/8;
$contentPadding1024: 100vw/24;
$contentPadding768: 100vw/12;

$navbarHeight: 55px;
$storeHeaderDHeight: 80px;
$storeHeaderDPadding: 10px;