@import './reset.scss';
@import './_variables.scss';
@import './mixin.scss';

$ratio: 375 / 10;

@function px2rem($px) {
 @return ($px / $ratio) + rem;
}

.no-display {
  display: none;
}
.hide {
  visibility: hidden;
}