$labelHeight: 1em;

// .header-wrap
.store-header {
  position: relative;
  overflow: hidden;
}
.store-header .header-label {
  width: 100%;
  font-weight: 500;
  margin-left: 0.9em;
}

.store-header .header-search-drawer {
  position: absolute;
  top: -10px;
  width: 100vw;
}
.store-header .header-search-drawer .ant-drawer-close {
  position: absolute;
  top: 9px;
}
@media screen and (max-width: 450px) {
  .store-header .header-search-drawer .ant-drawer-close {
    right: -9px;
  }
}
.store-header .header-search {
  width: 90%;
}

.header-menu .header-menu-item {
  width: 100vw;
  text-align: center;
  margin-left: -1em;
  font-size: 0.8rem;
}
.header-menu .toback { 
  position: relative;
  left: 1em;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.header-menu .toback::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0.63rem;
  height: 0.06rem;
  background-color: #535353;
}