$labelHeight: 1em;

// .header-wrap
.store-header-m {
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.store-header-m .header-label {
  width: 100%;
  text-align:center;
  font-size: 0.9rem;
  padding: 0.9rem 0;
}

.store-header-m .header-search-drawer {
  position: absolute;
  top: -10px;
  width: 100vw;
}
.store-header-m .header-search-drawer .ant-drawer-close {
  position: absolute;
  top: 9px;
}
@media screen and (max-width: 450px) {
  .store-header-m .header-search-drawer .ant-drawer-close {
    right: -0.5rem;
  }
}
.store-header-m .header-search {
  width: 90%;
}

.header-menu .header-menu-item {
  width: 100vw;
  text-align: center;
  margin-left: -1rem;
  font-size: 0.8rem;
}
.header-menu .toback { 
  position: relative;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.header-menu .toback::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0.63rem;
  height: 0.06rem;
  background-color: #535353;
}