.store-header-m {
  position: relative;
  width: 100%;
  height: $storeHeaderDHeight;
  overflow: hidden;
  background-color: $globleBgColor;
  font-size: px2rem(14);
  z-index: 3;

  .header-label-wrap {
    height: 100%;

    .header-label {
      width: 100%;
      text-align:center;
      line-height:  $storeHeaderDHeight;

      .anticon {
        font-size: px2rem(9);
      }
    }
  }

  .header-search-icon {
    @include abs-vertical-center;
    right: px2rem(5);
  }
  .header-search-drawer {
    position: absolute;
    .header-search {
      width: 90%;
    }

    .ant-drawer-close {
      margin-top: px2rem(8);
      margin-right: px2rem(3);
    }
  }
}

.header-menu {
  position: relative;
  top: px2rem(-15);
  li {
    padding: 5px 0;
  }
  .header-menu-item {
    width: 100vw;
    text-align: center;
    text-indent: px2rem(-9);
  }

  .toback { 
    position: relative;
    top: px2rem(10);
    display: flex;
    flex-direction: column;
    padding: px2rem(10);
    
    &:before {
      content: ' ';
      display: block;
      @include abs-horizontal-center;
      top: px2rem(-5);
      width: px2rem(11);
      height: px2rem(1);
      background-color: #535353;
    }
  }
}