#details .groups {
  max-width: $contentMaxWidth;
  padding-left: $contentPadding;
  padding-right: $contentPadding;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  #details .groups {
    max-width: $contentMaxWidth1024;
    padding-left: $contentPadding1024;
    padding-right: $contentPadding1024;
  }
}
@media screen and (max-width: 768px) {
  #details .groups {
    max-width: $contentMaxWidth768;
    padding-left: $contentPadding768;
    padding-right: $contentPadding768 ;
  }
}

#details .group-wrapper {
  display: flex; 
  display: -webkit-flex;
  flex-direction: row;
  width: $contentMaxWidth;
  margin-bottom: 60px;
}
#details .group-left {
  flex: none;
  max-width: 240px;
  width: 15%;
  color: #fff;
}
#details .group-content {
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.625;
}
@media screen and (max-width: 1000px) {
  #details .group-wrapper {
    flex-direction: column;
  }
  #details .group-left {
    width: 100vw;
    margin-bottom: 20px;
  }
  #details .group-content {
    font-size: 0.88rem;
    letter-spacing: 0.01rem;
    line-height: 1.4;
  }
}

#details .group-left .group-header { 
  padding-right: 1.25rem;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.25rem;
}
 
#details .group-sticky .group-header {
  position: fixed;
  top: $navbarHeight + $storeHeaderDHeight + $storeHeaderDPadding;
}