.gameMeta .meta-items {
  display: grid;
  grid-template-columns: 42% 42% 16%;
  grid-template-rows: 75px 100px;
  grid-row-gap: 38px;
  row-gap: 38px;
  margin-bottom: 60px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 40% 40% 20%;
    grid-row-gap: 30px;
    row-gap: 30px;
  }
  @include phone {
    grid-template-columns: 50% 50%;
    grid-template-rows: 65px 65px 65px;
    grid-row-gap: px2rem(25);
    row-gap: px2rem(25);
    margin-bottom: px2rem(35);
  }
}

.gameMeta .meta-item {
  .meta-label {
    opacity: 0.6;
  }
  
  .meta-data {
    margin-top: px2rem(7);
  }
}

.gameMeta .about-content {
  padding: 15px 0;
  h2, p {
    margin-bottom: 15px;
  }
  img {
    max-width: 100%;
  }
}