.ratings {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.ratings .ratings-item {
  margin-right: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .ratings .ratings-item {
    flex: 0 1 auto;
    margin-right: 30px;
    text-align: center;
  }
}