.store-header {
  padding: 10px;
  text-align: center;
}

.store-header-search {
  width: 70%;
}

.store-header h2 {
  font-size: 14px;
}

.store-header-nav h2 {
  opacity: 0.4;
}
.store-header-nav:hover h2 {
  opacity: 1;
}

.store-header-nav .anticon {
  -webkit-transition: transform 125ms ease-in-out;
  -ms-transition: transform 125ms ease-in-out;
  transition: transform 125ms ease-in-out;
}
.store-header-nav:hover .anticon {
  -webkit-transform: scale(0.9) translateX(-5px);
  -ms-transform: scale(0.9) translateX(-5px);
  transform: scale(0.9) translateX(-5px);
}
.header-nav-selected h2 {
  opacity: 1;
  color: #fff;
}
