.store-header {
  @include css3(position, sticky);
  top: $navbarHeight;
  height: $storeHeaderDHeight;
  padding: $storeHeaderDPadding $contentPadding;
  text-align: center;
  background-color: $globleBgColor;
  z-index: 3;
  @include clearfix;

  @include tablet {
    padding: $storeHeaderDPadding $contentPadding1024;
  }

  h2 {
    font-size: 14px;
    line-height: $storeHeaderDHeight - 2*$storeHeaderDPadding;
  }

  .store-header-nav {
    float: left;
    @include css3(display, flex);
    
    .nav-item {
      margin-right: 30px;

      h2 {
        opacity: 0.4;
      }
      &:hover h2, .header-nav-selected  h2{
        opacity: 1;
      }
    }

    .anticon {
      @include css3(transition, transform 125ms ease-in-out);
    }
    &:hover .anticon {
      @include css3(transform, scale(0.9) translateX(-5px));
    }
  }

  .store-header-search {
    float: right;
    display: flex;
    align-items: center;
    width: 210px;
    height: $storeHeaderDHeight - 2*$storeHeaderDPadding; 
  }
}
